<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Techbyte - Home</title>
    <link rel="stylesheet" href="../assets/css/estilos.css" />
  </head>
  <body>
    <div>
      <header>
        <div class="nav">
          <nav id="nav-formulario-categorias">
            <div class="nav-item">
              <a id="formulario-productos" href="../backend/views/categorias.html"> Alta categorias </a>
            </div>

            <div class="nav-item">
              <a id="formulario-productos" href="../backend/views/productos.html">Alta de productos</a>
            </div>
          </nav>
        </div>
      </header>
    </div>

    <main>
      <img src="../assets/img/tech-byte-solutions.png" class="techbyte" />
      <h1 class="title">Home</h1>

      <div class="contenedor-cartas">
        <?php foreach ($listarProductos as $productos) { ?>
        <div class="cartas">
          <div class="contenedor-imagen">
            <img src="<?php echo $productos['imagen']; ?>" class="imagen-carta" />
          </div>
          <div>
            Nombre:
            <?php echo $productos['nombre_producto']; ?>
          </div>
          <div>
            Categoria:
            <?php foreach ($listarCategorias as $categoria) { ?>
            <?php if ($categoria['ID'] == $productos['id_categoria']) { ?>
            <?php echo $categoria['nombre_categoria']; ?>
            <?php break; ?>
            <?php } ?>
            <?php } ?>
          </div>
          <div>
            Descripcion:
            <?php echo $productos['descripcion_producto']; ?>
          </div>
        </div>

        <?php } ?>
      </div>
    </main>

    <footer id="nombre-desarrollador">Sebastian Araya</footer>
  </body>
</html>
