<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Techbyte - Home</title>
    <link rel="stylesheet" href="../assets/css/estilos.css" />
  </head>
  <body>
    <div>
      <header>
        <div class="nav">
          <nav id="nav-formulario-categorias">
            <div class="nav-item">
              <a id="formulario-productos" href="../backend/views/categorias.html"> Alta categorias </a>
            </div>

            <div class="nav-item">
              <a id="formulario-productos" href="../backend/views/productos.html">Alta de productos</a>
            </div>
          </nav>
        </div>
      </header>
    </div>

    <main>
      <img src="../assets/img/tech-byte-solutions.png" class="techbyte" />
      <h1 class="title">Home</h1>
    </main>

    <footer id="nombre-desarrollador">Sebastian Araya</footer>
  </body>
</html>
