<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Techbyte Solutions - CARGA CATEGORIAS</title>
    <meta name="description" content="Alta de nuevas CATEGORIAS" />
    <meta name="author" content="Sebastian Araya" />
    <link rel="stylesheet" href="../../assets/css/estilos.css" />
    <link rel="stylesheet" href="../../assets/img/tech-byte-solutions.png" type="" />
  </head>

  <body>
    <div class="box">
      <header>
        <div>
          <nav id="nav-categorias" class="centrado">
            <div class="nav-item">
              <a id="home" href="../../views/home.html"></a>
            </div>

            <div class="nav-item">
              <a id="formulario-productos" href="../../backend/views/productos.html">Alta productos</a>
            </div>
          </nav>
        </div>
      </header>

      <main>
        <img src="../../assets/img/tech-byte-solutions.png" class="techbyte" />
      </main>
    </div>
  </body>
</html>
