<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Techbyte Solutions - CARGA CATEGORIAS</title>
    <meta name="description" content="Alta de nuevas CATEGORIAS" />
    <meta name="author" content="Sebastian Araya" />
    <link rel="stylesheet" href="../../assets/css/estilos.css" />
    <link rel="stylesheet" href="../../assets/img/tech-byte-solutions.png" type="" />
  </head>

  <body>
    <div>
      <header>
        <div>
          <nav id="nav-categorias">
            <div class="nav-item">
              <a id="home" href="../../views/home.html">Home</a>
            </div>

            <div class="nav-item">
              <a id="formulario-productos" href="../../backend/views/productos.html">Alta productos</a>
            </div>
          </nav>
        </div>
      </header>

      <main>
        <img src="../../assets/img/tech-byte-solutions.png" class="techbyte" />
        <h1 class="title">Carga de Categorias</h1>

        <div>
          <section>
            <form id="formulario-cargar-categorias" method="POST" autocomplete="on" class="centrado" action="http://localhost/MIPROYECTO/backend/categorias.php">
              <label for="nombre-categoria">Nombre Categoria</label>
              <input type="text" id="nombre-categoria" name="nombre" placeholder="Ej: Placas de video" />

              <div class="contenedor-botones">
                <input id="boton-enviar" type="submit" value="Enviar" />
                <input id="boton-restablecer" type="reset" />
                <button id="boton-cancelar" type="button">Cancelar</button>
              </div>
            </form>
          </section>
        </div>
      </main>
      <footer>
        <span id="nombre-desarrollador" class="author">Sebastian Araya</span>
      </footer>

      <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
      <script src="../../assets/js/validaciones.js"></script>
    </div>
  </body>
</html>
