<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/styles.css" />
    <title>Alta de categorias</title>
  </head>
  <body>
    <h1 id="categorias">Alta de categorias</h1>
    <form id="form-categoria">
      <div class="contenedor-categoria">
        <label for="id-categoria">Inserta el ID de la categoria</label>
        <input type="number" id="id-categoria" placeholder="Ej: 55" />

        <label for="tipo-categoria">Inserta el nombre de la categoria</label>
        <input type="text" id="tipo-categoria" placeholder="zapatillas" />
      </div>

      <div class="contenedor-botones">
        <input type="submit" value="Guardar" id="guardar-operacion" />
        <button id="cancelar-operacion">Cancelar</button>
      </div>
      <strong id="nombre-desarrollador">Sebastian Araya</strong>
    </form>
  </body>
</html>
