<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Techbyte - Lista de productos</title>
    <meta name="description" content="Lista de productos" />
    <meta name="author" content="Sebastian Araya" />
  </head>
  <body>
    <main>
      <h1 class="title">Lista de Productos</h1>
      <div class="card-productos">
        <table id="lista-productos-tabla">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Precio</th>
              <th>Categoria</th>
            </tr>
          </thead>
          <tbody>
            <?php foreach ($listarProductos as $producto) { ?>
            <tr>
              <td><?php echo $producto['ID'];?></td>
              <td><?php echo $producto['nombre_producto']; ?></td>
              <td><?php echo $producto['descripcion_producto']; ?></td>
              <td><?php echo $producto['precio_producto']; ?></td>
              <td><?php echo $producto['id_categoria']; ?></td>
            </tr>
            <?php } ?>
          </tbody>
        </table>
      </div>
      <div class="menu">
        <a href="productos.php?agregar-producto">Agregar Producto</a>
        <a href="views/categorias.html">Agregar Categoria</a>
      </div>
    </main>
  </body>
</html>
