<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/styles.css" />
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" type="image/x-icon" href="../../assets/img/tech-byte-solutions.png" />
    <title>Listado de categorias</title>
  </head>
  <body>
    <nav id="navegador" class="navbar bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
      <a class="navbar-brand" href="categorias.html">TechByte Solutions</a>
    </nav>

    <div class="row justify-content-center" id="logo">
      <img src="../../assets/img/tech-byte-solutions.png" id="tech-byte" />
    </div>
    <div class="text-center">
      <h1 id="heading">LISTADO DE CATEGORIAS</h1>
      <div class="row justify-content-center">
        <div class="card" id="carta-lista-categorias">
          <div class="card-body">
            <table class="table table-hover" id="tabla-categorias">
              <thead>
                <tr>
                  <th scope="col">Nombre de Categoria</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody id="cuerpo-tabla-categorias"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../../assets/js/listado-categorias.js" type="module"></script>
</html>
