<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/styles.css" />
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <title>Alta de productos</title>
  </head>
  <body>
    <nav id="navegador" class="navbar bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
      <a class="navbar-brand" href="categorias.html">TechByte Solutions</a>
      <a class="btn btn-outline-secondary" href="lista-categorias.html" role="button">Listado de Categorias</a>
    </nav>

    <div class="row justify-content-center" id="logo">
      <img src="../../assets/img/tech-byte-solutions.png" id="tech-byte" />
    </div>

    <div class="text-center">
      <h1 id="heading">ALTA DE PRODUCTOS</h1>
    </div>

    <div class="row justify-content-center">
      <div class="card" id="carta-productos">
        <div class="card-body">
          <form id="formulario">
            <div class="contenedor-productos row justify-content-center mb-2">
              <div class="mb-4 p-1 col-7 text-center">
                <label for="input-nombre-producto" class="form-label"><strong>Ingrese el nombre del producto</strong></label>
                <input type="text" class="form-control productos" id="input-nombre-producto" name="nombre" placeholder="Ej: RTX-3000" />
                <strong id="error-nombre"></strong>
              </div>
              <div class="mb-4 p-1 col-7 text-center">
                <label for="input-descripcion" class="form-label"><strong>Ingrese una descripcion del producto</strong></label>
                <textarea id="textarea-descripcion" class="form-control productos" name="descripcion" placeholder="Ej: Placa de video para la serie 3000"></textarea>
              </div>
              <div class="mb-2 p-1 col-7 text-center">
                <label for="input-id" class="form-label"><strong>Ingrese el precio del producto</strong></label>
                <input type="number" class="form-control productos" id="input-precio" name="precio" placeholder="Ej: 320" />
                <strong id="error-precio" class=""></strong>
              </div>
              <div class="text-center mb-4">
                <strong id="exitoso" style="font-size: 9px"></strong>
              </div>
            </div>

            <div class="contenedor-botones text-center mb-4">
              <button type="button" class="btn btn-dark" id="enviar-producto">Enviar</button>
              <button type="button" class="btn btn-dark" id="restablecer-campos">Restablecer</button>
            </div>

            <div class="text-center gy-4">
              <strong id="nombre-desarrollador">Sebastian Araya</strong>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
