<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alta Productos</title>
  </head>
  <body>
    <h1 id="categorias">Alta de productos</h1>
    <form id="form-productos">
      <strong>Inserta el ID del producto</strong><br /><br />
      <input type="number" id="id-producto" placeholder="Ej: 55" /><br /><br />
      <strong>Inserta el nombre del producto</strong><br /><br />
      <input type="text" id="tipo-producto" placeholder="zapatillas" /><br /><br />

      <input type="submit" value="Guardar" id="guardar-operacion" />
      <button id="cancelar-operacion">Cancelar</button><br /><br />
      <strong>Sebastian Araya</strong>
    </form>
  </body>
</html>
